{#DESCRIPTION :       
  page des dons

    Nom du Bundle: soleilArticleBundle
    Controller: Don
    Action    : index
    ----------------------------------------------

    A INTEGRER : 
        extends "::SousSite/base.html.twig"

    POUR LE LIENS:
    Route: soleil_don_accueil

    ----------------------------------------------                
    POUR TESTER : www.eft.com/don
    ----------------------------------------------
#}
{% extends "::SousSite/base.html.twig" %}

{% block content %}

<section id="etage2" class="alignement_etage2">
	<section id="contenu" class="container">

			<section id="don" class="grid_12 alpha omega">

               <h2 class="alignement_h2_etage2">Don</h2>
                    
				<p class="alignement_1erP_etage2">Votre adhésion nous aide à maintenir le bon fonctionnement de l'association et nous permet de poursuivre l'objet social qui est de pouvoir offrir un service d'éducation lié à l'art pour des personnes en difficultés.</p>
				<p>Elle sert de support aux activités annoncées et elle vous permet d'être informé de tous les événements, coaching, stages, ateliers, cours.</p>
				<p>Elle vous donne accès à l'interactivité du site.</p>
				<p>Elle vous permet d'assister à l'Assemblée Générale et vous offre la possibilité de prendre part aux décisions de l'AG.</p>

				<p>Vous pouvez soutenir l'asbl Avec le Soleil en versant un don.</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="vanessaetmanu@gmail.com">
<input type="hidden" name="lc" value="FR">
<input type="hidden" name="item_name" value="avec le soleil">
<input type="hidden" name="item_number" value="don">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="EUR">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
<img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>
            
                                
                                
				<ul class="colo_info">
					<li>
						Devenez adhérent de l'asbl.<br/>
						Pour ce faire, il vous suffit de verser votre cotisation annuelle de 10 € sur le compte : 363-1107344-32<br/>
						IBAN: BE35 3631 1073 4432<br/>
						BIC: BBRUBEBB
					</li>
					<li>Participez aux différentes activités qui seront organisées par l'asbl.</li>
					<li>Parlez de " Avec le Soleil"  autour de vous afin de trouver des bénévoles qui viendront encore renforcer l'équipe.</li>
					<li>Proposez à vos connaissances qui se marient de remplacer les fleurs par un don en faveur de l'asbl.</li>
					<li>Proposez-nous des dons en nature : bureaux, chaises, matériel de dessin, des tissus, de la toile, de la terre, un four, des émaux...</li>
					<li>Lors d'un testament, faites un legs en faveur de notre association.</li>
				</ul>	            

			</section>
	</section>
</section>


{% endblock %}