{% extends "::SousSite/Admin/baseAdmin.html.twig" %}

{% block content %}

    <h1>Admin - Article - suprimer</h1>

    <p>
    Etes-vous certain de vouloir supprimer cette article "{{
    article.titreFr }}" ?
    </p>

    <form action="{{ path('soleil_article_supprimer_admin', {'slug': article.slug}) }}" method="post">

    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
    </form>
    
{% endblock %}