{% extends "::SousSite/Admin/baseAdmin.html.twig" %}

{% block content %}

    <h1>Admin - Article - ajouter (admin)</h1>
    
    {% include "soleilContactBundle:Contact:Admin/formulaire.html.twig" %}

{% endblock %}