{% extends "::SousSite/base.html.twig" %}

{% block content %}

<section id="etage2" class="alignement_etage2">
	<section id="contenu" class="container">

		<section id="contenuPrincipal" class="grid_8 alpha">
			{{ render(controller("soleilFormationBundle:Formation:index")) }}
		</section> <!-- FIN CONTENU PRINCIPALE -->


		<aside id="aside" class="grid_3biss push_0 omega alpha">
			<article>
					<h2>Agenda</h2>
                                        {{ render(controller("soleilAgendaBundle:Agenda:agendaMini")) }} 
			</article>

			<article>
					<h2>Inscription</h2>
					<p>Les inscriptions ont cours toute l'année.</p>
					<p>Horaires à partir de janvier 2014: le lundi de 13 à 16h et le mercredi de 14 à 17h.</p>
					<p>Tarifs: Abonnement de 10 cours : 140€</p>  
					<p>Le paiement par séance est possible : 15€</p>

				<div class="box" style="border-radius:8px; box-shadow: inset 0 0 0 5px #045604; margin-top:20px;">
					<p>
						<a href="{{ path('soleil_agenda_accueil') }}" class="grid_3 inscription">
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" style="border-radius:5px;">
								<line class="top" x1="0" y1="0" x2="900" y2="0"/>
								<line class="left" x1="0" y1="60" x2="0" y2="-920"/>
								<line class="bottom" x1="220" y1="60" x2="-600" y2="60"/>
								<line class="right" x1="220" y1="0" x2="220" y2="1380"/>
							</svg>
						Je m'inscris
						</a>
					</p>
				</div>
			</article>
		</aside>
		
		<div class="clear"></div>

		<section id="articles_avec-videos" class="container">
			{{ render(controller("soleilArticleBundle:Article:liste")) }}  
		</section> <!-- FIN VIDEO -->
                
	</section> <!-- FIN CONTENU -->
</section> <!-- FIN BODY -->
{% endblock %}