{% extends "::SousSite/Admin/baseAdmin.html.twig" %}

{% block content %}

    <h1>Admin - Article - modifier (admin)</h1>
    
    {% include "soleilecommerceBundle:Realisation:Admin/formulaire.html.twig" %}
    
{% endblock %}