{% extends "::SousSite/base.html.twig" %}

{% block content %}

<section id="etage2" class="alignement_etage2">
	<section id="contenu" class="container">

			<section id="don" class="grid_12 alpha omega">

               <h2 class="alignement_h2_etage2">Achat</h2>

				<form id="formulaire-don-confirmation">
                                        <fieldset class="grid_12" id="don-confirmation">
							<h3>Erreur</h3>
							{{ erreur|raw }} 

                                                        
					</fieldset>
				</form>
			</section>
	</section>
</section>

{% endblock %}

