{% extends "::SousSite/Admin/baseAdmin.html.twig" %}

{% block content %}

    <h1>Admin - Formation - ajouter (admin)</h1>
    
    {% include "soleilFormationBundle:Formation:Admin/formulaire.html.twig" %}

{% endblock %}