
{% extends "::SousSite/Admin/baseAdmin.html.twig" %}

{% block content %}

    <h1>Admin - Categorie Agenda - Modifier</h1>
    
     {% include "soleilAgendaBundle:Agenda:Admin/formulaire.html.twig" %} 

{% endblock %}
    