   
<article class='colo_info'>
    
    {% if formations is empty %}   
    
        <h2>Formations</h2>
        <p>Aucune formation disponible pour le moment</p>
        
    {% else %}
        
        {% for f in formations %} 
               <article class='colo_info'>
                    <h2>{{ f.titreFr }}</h2>
                    {{ f.textFr|raw }} 
               </article>

        {% endfor %}
           
    {% endif%}
   
</article>